.workflow-step {
  .section-heading {
    text-decoration: underline;
  }

  .email-input {
    width: 16rem;
  }
  .website-input {
    width: 16rem;
  }

  .day-time-input {
    width: 20rem;
  }

  input[type='text'] {
    line-height: 1rem;
  }

@import 'performerSignup';
@import 'checkin';
@import 'stageTime';
@import 'hosts';
}


