.workflow-step {
  .section-heading {
    text-decoration: underline;
  }

  .number-input {
    width: 2rem;
  } 
  .email-input {
    width: 16rem;
  }
  .website-input {
    width: 16rem;
  }

  .day-time-input {
    width: 20rem;
  }

@import 'performerSignup';
@import 'checkin';
}


