@font-face {
  font-family: Corona4Typewriter;
  src: local("Corona4Typewriter"), url("/fonts/corona4typewriter.ttf") format("truetype"); }
@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local("Fixedsys Excelsior 3.01"), url("/fonts/FSEX300.woff") format("woff"); }
@font-face {
  font-family: 'Akkurat Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Akkurat Regular"), url("/fonts/Akkurat Regular.otf") format("opentype"); }
html, body {
  height: 100%;
  font-family: 'Fixedsys Excelsior 3.01'; }

#app-main {
  height: 100%;
  width: 100%; }

.one-day-calendar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

.retrieving-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .retrieving-panel .loader-container {
    display: flex; }

.one-day-grid {
  width: 100%; }
  .one-day-grid .result {
    display: flex;
    flex-wrap: wrap;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: black; }
    .one-day-grid .result .left, .one-day-grid .result .right {
      width: 50%;
      display: flex;
      flex-direction: column; }
  .one-day-grid .result-cost, .one-day-grid .result-status, .one-day-grid .result-stage-time, .one-day-grid .result-sign-up-begins, .one-day-grid .result-sign-up-methods {
    display: flex;
    justify-content: flex-end; }
  .one-day-grid .result:hover {
    background-color: lightgray; }
  .one-day-grid .round-one::before {
    content: "Round 1:"; }
  .one-day-grid .round-two::before {
    content: "Round 2:"; }
  .one-day-grid .time {
    margin-left: 0.5rem; }
  .one-day-grid .begins::before {
    content: "Begins:"; }
  .one-day-grid .began::before {
    content: "Began:"; }
  .one-day-grid .ends::before {
    content: "Ends:"; }
  .one-day-grid .ended::before {
    content: "Ended:"; }
  .one-day-grid .past {
    color: gray;
    font-style: italic; }
  .one-day-grid .recent-past {
    color: #A00000;
    font-style: italic; }
  .one-day-grid .near-future {
    color: orange; }
  .one-day-grid .in-progress {
    color: green; }

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before {
  width: 50%;
  height: 50%;
  background: #525252;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=base.css.map */
