.controller {
  position: fixed;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .section {
    display: flex;
    align-items: center;
  }

  button {
    border: none;
    background-color: transparent;
  }

  button:focus {
    outline: none;
  }

  .menu-button {
    padding-left: .5rem;
    padding-right: .75rem;
  }

  .menu-button:hover {
    color: orange;
  }

  .date-controller {
    position: relative;
    top: -.1rem;
    display: flex;
    .date-display {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
    }

    .past {
      font-style: italic;
      color: gray;
    }

    // .today {
    //   color: green
    // }

    .add-day:hover {
      color: orange;
    }

    .subtract-day:hover {
      color: orange;
    }
  }

  .show-filters {
    padding-left: .7rem;
  }
  .show-filters:hover {
    color: orange;
  }

  .auth-button:hover {
    color: orange;
  }
}