  $boxSizeLarge: 2rem;
  $boxSizeSmall: 2rem;
  $boxMargin: .1rem;
  $numBoxes: 7;
  $componentWidthLarge: (1 + (($boxSizeLarge + $boxMargin) * ($numBoxes - 1)));
  $componentWidthSmall: (1 + (($boxSizeSmall + $boxMargin) * ($numBoxes - 1)));
  $boxBorderWidth: 1px;
  $dayNameFontSize: .8rem;
  $dayFontSize: 1rem;

  $calendarBackgroundColor: white;
  $calendarLineColor: lightgray;

  $selectableBorderColor: black;
  $selectableFontColor: black;

  $todayBorderWidth: 3px;

  $selectedBackgroundColor: $crayola-orange;
  $selectedFontColor: white;

  $hoverBorderWidth: 2px;

  .smart-month-calendar {
    .day-names {
      .day-name {
        font-size: $dayNameFontSize;
        margin-right: $boxMargin;
        margin-bottom: 2 * $boxMargin;
      }
    }

    .week {
      .day {
        margin-right: $boxMargin;
        margin-bottom: $boxMargin;
        font-size: $dayFontSize;

        background-color: $calendarBackgroundColor;
        color: $calendarLineColor;
        border-width: $boxBorderWidth;
        border-color: $calendarLineColor;

        &.selectable {
          color: $selectableFontColor;
          border-color: $selectableBorderColor;
        }

        &.today {
          border-width: $todayBorderWidth;
        }

        &.selected {
          background-color: $selectedBackgroundColor;
          color: $selectedFontColor;
        }

        &:hover {
          border-width: $hoverBorderWidth;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .smart-month-calendar {
      width: $componentWidthLarge;
      .day-name {
        width: $boxSizeLarge;
      }
      .day {
        width: $boxSizeLarge;
        height: $boxSizeLarge;
      }
    }
  }

  @media (max-width: 767px) {
    .smart-month-calendar {
      width: $componentWidthSmall;
      .day-name {
        width: $boxSizeSmall;
      }
      .day {
        width: $boxSizeSmall;
        height: $boxSizeSmall;
      }
    }
  }