.preview {
  padding-bottom: 8em;
  .donde, .description, .notes {
    margin-top: .3em;
    margin-bottom: .3rem;
  }

  .description, .notes {
    width: 100%;
  }

  .description-text {
    margin-right: .5rem;
  }

  .sub-heading {
    margin-bottom: .5rem; 
  }

  .bold {
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
  }
}

.listing-card {
  border: 1px solid black;
  border-radius: .5em;
  #location-map {
    width: 100%;
    height: 20em;    
  }

  .location-info {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 0;
    width: 15em;
    background-color: white;
    padding: .2rem;
    border: 1px solid black;
  }

  .mapboxgl-canvas {
    border-radius: 0 0 .5em .5em;
  }
}

.listing-summary {
  pre {
    margin: 0;
    white-space: pre-wrap;
    font-size: .9em;
  }
}