<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Candle - Go out, do something, make it count</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/normalize/normalize.css") %>">
    <!--<link rel="stylesheet" href="<%= static_path(@conn, "/bootstrap/css/bootstrap.css") %>">-->
    <link rel="stylesheet" href="<%= static_path(@conn, "/mapbox/mapbox-gl.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/font-awesome/css/font-awesome.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/base.css") %>">
  </head>
  <body>
    <div id="app-main"></div>
    <script src="<%= static_path(@conn, "/mapbox/mapbox-gl.js") %>" async></script>
    <script src="<%= static_path(@conn, "/js/main.js") %>" async></script>
  </body>
</html>
