@import '../../variables';

.button-panel {
  position: fixed;
  height: 3rem;
  bottom: 0;  
  left: 0;
  z-index: 1001; //higher than .dropdown > .dropdown-menu
}

@media (min-width: 768px) {
  .button-panel {
    position: fixed;
    height: 3rem;
    bottom: 0;  
    left: 0;
    width: calc(100vw * 0.6);
  }
}

@media (max-width: 767px) {
  .button-panel {
    right: 0;
  }
}

.button-panel {
  .back, .next {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    height: 100%;
    // width: 100%;
  }

  hr {
    height: 1px;
    width: 100%;
    padding: 0;
    margin: 0;
    color: lightgray;
    background-color: lightgray;
    opacity: .4;
  }

  .button-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;

    .text {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 1rem;
    }

    .icon {

    }
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
      border-color: $crayola-orange;
      color: $crayola-orange;
    }

    &.disabled {
      border-color: lightgray;
    }

    &.disabled:hover {
      color: lightgray;
      border-color: lightgray;
    }

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 767px) {
    button {
      width: 100%;
      height: 100%;
    }

    .vertical-separator {
      height: 60%;
      width: 3px;
      background-color: lightgray;
    }

    .back-section {
      justify-content: center;
    }

    .next-section {
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    button {
      border-radius: .2rem;
      border-style: solid;
      border-color: black;
      border-width: 1px;

      &.disabled {
        border-color: lightgray;
      }
    }

    .vertical-separator {
      display: none;
    }

    button:hover {
      border-color: $crayola-orange;
    }

    .back-section {
      justify-content: flex-start;
      padding-left: 1rem;
    }

    .next-section {
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }


}