@import '../../variables';

.controller-buttons {
  position: absolute;
  height: 3rem;
  bottom: 0;  
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .back-next-buttons-section {
    display: flex;
    justify-content: space-between;
    .back, .next {
      display: flex;
      &:hover {
        color: $crayola-orange;
      }
    }
  }

  .next-button-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .next {
      border-width: 1px 0 0;
      border-style: solid;
      border-color: black;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: white;

      &:hover {
        //background-color: $crayola-orange;
        border-color: $crayola-orange;
        color: $crayola-orange;
      }

      &.disabled {
        border-color: lightgray;
      }
      &.disabled:hover {
        //background-color: $crayola-orange;
        /*border-color: lightgray;*/
        color: lightgray;
      }
    }
  }
}