@import '../../variables';

.create-landing {
  .content {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    .create-new-listing {
      margin-top: 2rem;
      padding: 1rem;
      border: 1px solid black;
      border-radius: .2rem;
      color: black;
      background-color: white;
    }

    .create-new-listing:hover {
      color: $crayola-orange;
      border-color: $crayola-orange;
    }
  }
}
