.user-component {

  .content {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .info, .participation{
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .selected-date-section {
    margin-top: .5rem;
    display: flex;
    flex-flow: column nowrap;
  }



  //.selected-date-section {
    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
  //}

  .check-ins-breakdown {
    margin-top: .5rem;

    .check-in {
      margin-top: .2rem;
    }
  }
}