.workflow-step {
  .errors {
    color: red;
    margin-bottom: 1rem;
  }
  
  .heading {

  }

  .body {
    // .input-section {
    //   display: flex;
    //   flex-direction: column;
    //   //justify-content: center;
    //   //width: 100%;
    //   margin-bottom: 1rem;
    // }

    // .row-input-section {
    //   display: flex;
    //   flex-flow: row nowrap;
    //   //justify-content: flex-start;
    //   margin-bottom: 1rem;
    // }

    // .left-row-input-section {
    //   display: flex;
    //   flex-flow: column nowrap;
    //   //justify-content: flex-start;
    //   margin-bottom: 1rem;
    // }


    .column{
      position: relative;
      display: flex;
      flex-direction: column;

      >.sub-heading {
        font-weight: bold;
        //display: flex;
        //align-items: center;
        margin-bottom: .7rem;
      }

      >.sub-sub-heading {
        font-style: italic;
        //display: flex;
        //align-items: center;
        margin-bottom: .7rem;
      }

      >.item {
        //display: flex;
        //align-items: center;
        margin-bottom: .5rem;
      }
    }

    .row {
      display: flex;
      flex-flow: row wrap;
      //justify-content: center;

      >.sub-heading {
        font-weight: bold;
        //align-items: center;
        margin-right: 1rem;
      }

      >.sub-sub-heading {
        font-style: italic;
        //align-items: center;
        margin-right: 1rem;
      }

      >.item {
        //align-items: center;
        margin-right: .5rem;
      }
    }

    .justify-center {
      justify-content: center
    }

    .align-center {
      align-items: center;
    }

    .small-margin-bottom {
      margin-bottom: .5rem;
    }
    .margin-bottom {
      margin-bottom: 1rem;
    }

    .indented {
      margin-left: 1.5rem;
      margin-top: .5rem;
    }

    .disabled-cover {
      pointer-events: none;
      opacity: .3;
    }

  }

  .radio-input, .checkbox-input {
    margin-right: 1rem;
    .title {
      margin-right: .7rem;
    }
  }


  input[type='radio'], input[type='checkbox'] {
    //position: relative;
    //top: -1px;
    margin-right: .5rem;
  }

  textarea {
    width: 100%;
    height: 5rem;
  }
}

@import 'properties/index';
@import 'donde/index';
@import 'cuando/index';