.recurrence-calendar {
  .calendar-navigator {
    display: flex;
    justify-content:space-between;

    .current-year {
      padding-left: 5px;
    }

    span {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;

      * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
      }
    }


    button {
      background-color: transparent;
      border-style: none;
      display: flex;
      color: black;

      &:hover {
        //text-decoration: underline;
        color: green;
      }

      &.disabled {
        pointer-events: none;
        //cursor: none;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}