.autocomplete-container {
  width: 100%;

  .autocomplete-input {
    width: 100%;
    display: flex;
        
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 .2rem;
  }

  .results-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .autocomplete-result {
    line-height: 1rem;
    padding: .2rem;
    border: 1px solid lightgray;
  }

  .light-gray {
    background-color: lightgray;
  }
}