@import '../variables';
.date-input-month-calendar {
  .day-names {
    display: flex;
    .day-name {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .week {
    display: flex;
    justify-content: flex-end;

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      border-style: solid;

      &.selectable {
        pointer-events: auto
      }
    }
  }
}

$boxSizeLarge: 2rem;
$boxSizeSmall: 2rem;
$boxMargin: .1rem;
$numBoxes: 7;
$componentWidthLarge: (1 + (($boxSizeLarge + $boxMargin) * ($numBoxes - 1)));
$componentWidthSmall: $numBoxes * $boxSizeSmall;
$boxBorderWidth: 1px;
$dayNameFontSize: .8rem;
$dayFontSize: 1rem;

$calendarBackgroundColor: white;
$calendarLineColor: lightgray;

$selectableBorderColor: black;
$selectableFontColor: black;

$todayBorderWidth: 3px;

$selectedBackgroundColor: $crayola-orange;
$selectedFontColor: white;

$hoverBorderWidth: 2px;

.date-input-month-calendar {
  .day-names {
    .day-name {
      font-size: $dayNameFontSize;
      margin-right: $boxMargin;
      margin-bottom: 2 * $boxMargin;
    }
  }

  .week {
    .day {
      margin-right: $boxMargin;
      margin-bottom: $boxMargin;
      font-size: $dayFontSize;

      background-color: $calendarBackgroundColor;
      color: $calendarLineColor;
      border-width: $boxBorderWidth;
      border-color: $calendarLineColor;

      &.selectable {
        color: $selectableFontColor;
        border-color: $selectableBorderColor;
        cursor: pointer;
      }

      &.today {
        border-width: $todayBorderWidth;
      }

      &.selected {
        background-color: $selectedBackgroundColor;
        color: $selectedFontColor;
      }

      &:hover {
        border-width: $hoverBorderWidth;
      }
    }
  }
}

// @media (min-width: 768px) {
//   .date-input-month-calendar {
//     width: $componentWidthLarge;
//     .day-name {
//       width: $boxSizeLarge;
//     }
//     .day {
//       width: $boxSizeLarge;
//       height: $boxSizeLarge;
//     }
//   }
// }

// @media (max-width: 767px) {
  .date-input-month-calendar {
    width: $componentWidthSmall;
    .day-name {
      width: $boxSizeSmall;
    }
    .day {
      width: $boxSizeSmall;
      height: $boxSizeSmall;
    }
  }
// }