@import '../variables';

  .main-menu-modal {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    //height: 20rem;
    background-color: white;

    .menu-items {
      margin: 0 1rem;
      button {
        //display: table;
        text-align: left;
        height: 4rem;
        background-color: white;
        border: none;
        width: 100%;
        //text-align: center;
      }

      li:not(:last-child) {
        border-width: 0 0 1px;
        border-color: lightgray;
        border-style: solid;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      background-color: lightgray;
      color: black;
      font-weight: bold;
    }

    .content {
      .item {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: black;
        background-color: white;
        width: 100%;
      }

      .item:hover {
        color: $crayola-orange;
      }
    }
  }
