@import '../variables';

  .left-menu-modal {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 20rem;
    background-color: white;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      background-color: lightgray;
      color: black;
      font-weight: bold;
    }

    .content {
      .item {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: black;
        background-color: white;
        width: 100%;
      }

      .item:hover {
        color: $crayola-orange;
      }
    }
  }
