.listing-card {
  border:black solid 1px;
  border-radius: 4px;
  padding: .5rem;

  .card-heading {
    display: flex;
    justify-content: space-between;
  }

  .event-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .listing-type {
    font-style: italic;
    font-size: .8rem;
    align-content: top;
  }

  .recurrence-day {
    padding-right: .3rem;

    &:after {
      content: ','
    }
  }

  .start-time {
    padding-right: .2rem;
  }

  .end-time {
    padding-left: .2rem;
  }

  .recurrence-start-date, .start-date {

    &:before {
      content: 'Starts '
    }
  }

  .end-date {

    &:before {
      content: 'Ends '
    }
  }

  // .recurrence-until-date {

  // }

}