@import '../variables';
$boxSizeLarge: 2rem;
$boxSizeSmall: 1.35rem;
$boxMargin: .1rem;
$numBoxes: 7;
$componentWidthLarge: (1 + (($boxSizeLarge + $boxMargin) * ($numBoxes - 1)));
$componentWidthSmall: $numBoxes * $boxSizeSmall;
.month-calendar {
  .day-names {
    display: flex;
    .day-name {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: .8rem;
      margin-right: $boxMargin;
      margin-bottom: 2 * $boxMargin;
    }
  }

  .week {
    display: flex;
    justify-content: flex-end;

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-right: $boxMargin;
      margin-bottom: $boxMargin;
      color: lightgray;
      border: 1px solid lightgray;
      pointer-events: none;

      &.selectable {
        color: black;
        border: 1px solid black;
        pointer-events: auto
      }

      &.today {
        background-color: white;
        color: black;
        border: 3px solid black;
      }

      &.selected {
        background-color: $crayola-orange;
        color: white;
      }

      &:hover {
        border-width: 2px;
        cursor: pointer;
        //font-weight: bold;
      }
    }
  }
}

@media (min-width: 768px) {
  .month-calendar {
    width: $componentWidthLarge;
    .day-name {
      width: $boxSizeLarge;
    }
    .day {
      width: $boxSizeLarge;
      height: $boxSizeLarge;
    }
  }
}

@media (max-width: 767px) {
  .month-calendar {
    width: $componentWidthSmall;
    .day-name {
      width: $boxSizeSmall;
    }
    .day {
      width: $boxSizeSmall;
      height: $boxSizeSmall;
    }
  }
}