  @import '../variables';
  .time-input-component {
    display: flex;
    flex-flow: column nowrap;
    .clock-section {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      line-height: 2rem;

      .selectable {
        color: black;
        cursor: pointer;

        &:hover {
          color: $crayola-orange;
          //text-decoration: underline;
        }

        &.disabled {
          pointer-events: none;
          //cursor: none;
          color: rgba(0, 0, 0, 0.2);
        }
      }

      span {
        display: flex;
        flex-direction: column;
        //align-items: center;
        div {
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .clear-button-section {
      margin-top: 1rem;
      //margin-bottom: 1rem;
      display: flex;
      justify-content: center;
    }
  }