.filters-dialog {
  .switch-section {
    padding-bottom: 1rem;
    .choice-row {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      margin-bottom: .5rem;
    }
    .title {
      margin-left: .5rem;
      margin-right: 2rem;
    }

    .content {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      margin: .5rem 2rem;
    }
  }

  .stage-time-input {
    width: 1.5rem;
    margin-right: 1rem;
  }
}