.donde {
  .section {
    .heading {
      font-weight: bold;
    }

    .content {
      margin-top: .5rem;
    }
  }





  .mode-input {
    .venue-input {

      .input-section {
        // margin-top: .5rem;
        // position: relative;
        // //display: flex;
        // width: 100%;

        .display {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid lightgray;
          padding: .2rem;
        }

        .autocomplete {
          width: 100%;
        }

        .venue-name {
          font-weight: bold
        }

        .venue-address {
          margin-left: .4rem
        }
      }


      .map {
        position: relative;
        height: 300px;

        .location-info {
          position: absolute;
          z-index: 1;
          background-color: white;
          border: 1px solid black;
          padding: .2rem;
          top: .5rem;
          right: .5rem;
        }

        #addSelectVenueMapAnchor {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  //.search-area {
    // .change-button {
    //   margin-left: 1rem;
    // }

    // .change-search-area-modal {
    //   #changeSearchAreaMapAnchor {
    //     height: 300px;
    //     width: 100%;
    //   }
    // }
  //}

  @import 'searchArea/index';
}