.content-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5.5em 0 0 -5.5em;
}

.screen {
  height: 100%;
}

.search-results {
  button {
    padding: 0;
    margin: 0 .5rem;
  }

  font-size: .8rem;

  &.one-day {

    .search-controller {
      font-size: 1rem;
      text-align: center;
      line-height: 2rem;

      // .date-display {
      //   display: inline-block;
      //   font-size
      // }

      .filter-button {
        position: absolute;
        right: -40px;
        z-index: 1;
      }
    }

    .list-group-item:hover {
      background-color: lightgray;
    }
  }
}

.listing-profile {
  .map-area {
    position: relative;
    height: 20rem;
  }

  .marker-info {

    address {
      margin-top: 0;
    }

    position: absolute;
    top: .25rem;
    right: .25rem;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    padding: .25rem;
  }

  #listing-location-map {
    width: 100%;
    height: 100%;
  }

  .upcoming-dates {
    text-align: center;
  }

  .check-in-button {
    max-width: 8rem;
  }
}

.user-profile {
  .check-in-grid {
    .day-label {
      font-size: 9px;
    }

    .month-label {
      font-size: 10px;
    }
  }
}