.create-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @import './create/description';

  .location-mode {
    .content {
      padding-top: .4rem;
    }
  }



  .change-button {
    margin-left: 1rem;
  }


  .modal-backdrop {
    flex: 1 1 500px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav-section {
    display: flex;
    flex: 0 0 60px;

    .nav {
      flex: 1;
    }
  }

  .content-body {
    display: flex;
    justify-content: flex-start;
    flex: 1;

    // height: 100%;
 
    // /* Allows you to scroll below the viewport; default value is visible */
    // overflow-y: scroll;
 
    // /* To smooth any scrolling behavior */
    // -webkit-overflow-scrolling: touch;

    .panel {
      margin: 50px 0;
    }

    .panel-title {
      margin-bottom: 1rem;
    }

    input[type="text"] {
      line-height: 2rem;
      font-size: 1.2rem;
      width: 100%;
    }
  }


  @media (min-width: 768px) {
    .left-side {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 calc(100vw * 0.6);


      .instruction-section {
        display: none;
      }

    }

    .right-side {
      position: relative;
      //display: flex;
      justify-content: flex-start;
      flex: 1 1 calc(100vw * 0.4);
      background-color: hsla(200, 0, 90, 1);

      .instruction-section {
        //position: absolute;
        margin-top: 80px;
        margin-left: 20px;
        max-width: 300px;
        width: 80%;
        border-style: solid;
        border-width: 2px;
        border-color: lightgray;
        border-radius: 2px;
        padding: 1rem;
                //font-size: 1.3rem;

        .icon {
          margin-bottom: .5rem;
          color: rgba(0, 128, 0, .5);
          font-size: 2.5rem;
        }
      }
    }
  }

  .justify-center {
    justify-content: center;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .left-side {
      display: flex;
      flex: 1;


      .instruction-section.show {
        position: fixed;
        bottom: 4.5rem;
        right: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 4px;
        padding: 1rem;
        z-index: 1040;
        margin-left: 40%;

        .icon {
          margin-bottom: .5rem;
          color: rgba(0, 128, 0, .5);
          font-size: 2rem;
        }

        .close-icon::before {
          content: "\00d7";
        }

        .close-icon {
          color: gray;
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 1.5rem;
          line-height: 1.5rem;
        }

        .close-icon:hover {
          color: darkgray;
        }
      }

      .instruction-section.hide {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 80px;
        right: 10px;
        width: 50px;
        height: 50px;
        border: 1px solid lightgray;
        border-radius: 50%;
        z-index: 1000;

        .icon {
          color: rgba(0, 128, 0, .5);
          font-size: 2rem;
        }

      }
    }

    .right-side {
      display: none;
      //flex-basis: none;
    }
  }

  .instruction-section {
    background-color: white;
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
  }

  .form-section {
    position: relative;
    margin-bottom: 4rem;
    display: flex;
    flex: 1;
    overflow-y: scroll;

    .empty-section {
      flex: 1 1 auto;
      display: none;
    }

    .content-section {
      //flex: 1 1 520px;
      width: 100%;
      margin-left: 2rem;
    }

  }

  .input-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 600px;
  }

  @media (min-width: 768px) {
    .controller-section {
      //height: 100%;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 30px 24px;

      .separator {
        height: 1px;
        padding-bottom: 25px;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08);
      }

      .button-section { 
        display: flex;
        flex: 1;
        justify-content: space-between;

        line-height: 20px;
        font-size: 1rem;

        .back-button, .next-button {
          display: flex;
        }


        .back-button {
          //margin: 0 50px;
          padding: 10px;
          border-radius: 1px;

          .back-text {
            padding-left: 10px;
          }
        }

        .next-button {
          //margin: 0 50px;
          padding: 10px 20px;
          border-radius: 1px;

          .next-text {
            padding-right: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .controller-section {
      position: fixed;
      z-index: 9999;
      bottom: 0;
      height: 4rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      flex: 0 0 70px;

      .separator {
        display: none;
      }

      .button-section {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1 1 auto;

        .back-button, .next-button {
          display: flex;
          height: 100%;
          align-items: center;
          //justify-content: center;
          justify-content: center;
          flex: 1;
        }

        .back-button {
          display: flex;
          border-style: solid;
          border-width: 1px 0 0 0;
          .back-text {
            flex: 0 0 auto;
            padding-left: 10px;
          }
        }

        .next-button {
          display: flex;
          .next-text {
            flex: 0 0 auto;
            padding-right: 10px;
          }
        }

        .full {
          height: 100%;
          width: 100%;
        }


      }
    }
  }

  .content-section {
    margin: 0 20px;
  }

  .controller-section {
    background-color: white;


    button {
      text-decoration: none;
      box-shadow: 0;
      border: 0;
    }

    button.next-button.disabled {
      background-color: rgba(0, 128, 0, .5);
      pointer-events: none;
    }

    button > *.disabled {
      pointer-events: none;
    }

    button:active, button:focus {
      outline: none;
    }

    button.next-button {
      background-color: green;
      color: white;
    }
    button.next-button:hover {
      //text-decoration: none;
      background-color: rgba(0, 128, 255, 1);
    }

    button.back-button {
      color: black;
      background-color: white;
    }
    button.back-button:hover {
      color: gray;
    }
  }

  .address-section {
    input[type='text'], select {
      margin-top: 5px;
    }

    select {
      width: 100%;
      line-height: 2rem;
      font-size: 1rem;
      border-style: solid;
      border-width: 1px;
      border-radius: 1px;
      background-color: white;
      height: 2.5rem;

    }
  }

  .image-section {
    //flex: 1 1 auto;
    //position: relative;
    background-color: white;
    overflow: hidden;
    height: 100%;


    .image-element {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }

  #addSelectVenueMapAnchor, #displayVenueMapAnchor, #chooseMapLocationMapAnchor {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  .map {
    position: relative;

    .location-info-section {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 500;
      background-color: white;
      padding: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: lightgray;
    }
  }

  .location-description.sub-section {

    input[type="text"] {
      margin-top: 5px;
      margin-bottom: 60px;
    }
  }

  // .change-vicinity-modal {
  //
  //   #changeVicinityMapAnchor {
  //     height: 300px;
  //   }
  //
  //   .button-section {
  //     display: flex;
  //     justify-content: space-around;
  //
  //     button {
  //       background-color: green;
  //       color: white;
  //       border: 0;
  //     }
  //
  //     button:hover {
  //       background-color: rgba(0, 128, 255, 1);
  //     }
  //
  //   }
  // }

  #modifyLocationMapAnchor {
    height: 300px;
  }

}

.change-search-area-modal {

  #changeSearchAreaMapAnchor {
    height: 300px;
  }

  .button-section {
    display: flex;
    justify-content: space-around;

    button {
      background-color: green;
      color: white;
      border: 0;
    }

    button:hover {
      background-color: rgba(0, 128, 255, 1);
    }

  }

}

