.date-time-input-component {
  .selector {
    display: flex;
    align-items: center;
  }
  .calendar, .clock {
    flex: 1 1 auto;
    justify-content: center;
  }

  .clock {
    display: flex;
  }

  .calendar-navigator {
    display: flex;
    justify-content:space-between;

    .current-year {
      padding-left: 5px;
    }

    span {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;

      * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
      }
    }


    button {
      background-color: transparent;
      border-style: none;
      display: flex;
      color: black;

      &:hover {
        //text-decoration: underline;
        color: green;
      }

      &.disabled {
        pointer-events: none;
        //cursor: none;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 100%;
    height: 100%;
    //
    // tr {
    //   display: flex;
    //   justify-content: space-around;
    // }


    td {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: flex;
        }
      }

    }

    .selectable {
      color: black;
      cursor: pointer;

      &:hover {
        color: green;
        //text-decoration: underline;
      }
    }

    .not-selectable {
      color: rgba(0, 0, 0, 0.2);
    }

    .disabled {
      pointer-events: none;
      color: rgba(0,0,0, 0.2);
    }

    .selected {
      background-color: green;
      color: white;
      //border-width: 1px;
      //border-style: solid;
      //border-color: green;
      //border-radius: 50%;
    }
  }
  //
  .time-input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;

    .selectable {
      color: black;
      cursor: pointer;

      &:hover {
        color: green;
        //text-decoration: underline;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      //align-items: center;
      div {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  //
  // .time-input-row {
  //   display: flex;
  //   align-items: center
  // }
}
