.page-heading {
  display: flex;
  border-width: 0 0 1px 0;
  border-style: solid;
  flex: 0 0 60px;
  
  .menu-area {
    display: flex;

    .comp {
      display: flex;
      align-items: center;
      height: 100%;
      line-height: 1;
      margin-right: 10px;
    }

    .add-content-button {
      border: 1px;
      border-style: solid;
      padding: .25rem .5rem;

    }

    .add-content-button:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  .logo-icon {
    display: flex;

    .hidden-sm-down, .hidden-md-up {
      display: flex;
    }
  }

  .search-box {
    display: flex;
    flex: 1 1 auto;
    align-items: center;

    .search-area-icon {
      color: #999;
      padding: 0 0.5rem 0 0.5rem;
        font-size: 1.5rem;
    }

    .search-area {
      display: flex;
      align-items: center;
      border-style: solid;
      height: 100%;
    }

    @media (min-width: 768px) {
      .search-area {
        flex: 0 1 350px;
        border-width: 0 1px;
      }
    }

    @media (max-width: 767px) {
      .search-area {
        flex: 1 1 auto;
        border-width: 0 0 0 1px;
      }
    }

    .autocomplete-container {
      flex: 1 1 auto;
    }

    .custom-autocomplete-input-style {
      border: none;
      line-height: 2rem;
      outline: none;
    }
  }

  .create-workflow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    
    .step-description {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      height: 100%;
      border-style: solid;
      padding-left: 15px;
      border-width: 0 0 0 1px;
    }

    .listing-save-area {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      height: 100%;

      .last-saved-status {
        margin-right: 15px;
        color: gray;
      }

      .menu-link {
        color: blue;
      }

      .menu-link:hover {
        text-decoration: underline;
      }
    }
  }
  
}