@import 'variables';

.navigator-section {
  position: fixed;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .section {
    display: flex;
    align-items: center;
  }

  button {
    border: none;
    background-color: transparent;
  }

  button:focus {
    outline: none;
  }

  .menu-button, .user-profile-button {
    padding: .5rem;
    &:hover {
      color:$crayola-orange;
    }
  }

  .save-exit-button {
    margin-right: .5rem;
  }

  .date-controller {
    display: flex;
    .date-display {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
    }

    .past {
      font-style: italic;
      color: gray;
    }

    .today {
      color: green
    }

    .add-day {
      padding: 0;
      margin-left: 1rem;
    }

    .subtract-day {
      padding: 0;
      margin-right: 1rem;
    }

    .add-day:hover {
      color: $crayola-orange;
    }

    .subtract-day:hover {
      color: $crayola-orange;
    }
  }

  .show-filters {
    margin-left: 0.5rem;
  }

  .show-filters:hover {
    color: $crayola-orange;
  }

  .auth-button {
    padding: .5rem;
  }
  
  .auth-button:hover {
    color: $crayola-orange;
  }

  .buttons {
    display: flex;
    align-items: center;
  }
}