@import '_variables';

@font-face {
  font-family: Corona4Typewriter;
  src: local("Corona4Typewriter"), url("/fonts/corona4typewriter.ttf") format('truetype')
}

@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local('Fixedsys Excelsior 3.01'), url('/fonts/FSEX300.woff') format('woff');
}

@font-face {
  font-family: 'Akkurat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akkurat Regular'), url('/fonts/Akkurat Regular.otf') format('opentype');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: .9rem;
  //font-family: 'Fixedsys Excelsior 3.01';//'Akkurat Regular';//"Corona4Typewriter";
}

.fa {
  font-size: 1rem;
}

/*button, input {
  font-family: 'Fixedsys Excelsior 3.01';
}*/

  @media (max-width: 767px) {
    .show-lg {
      display: none
    }
  }

  @media (min-width: 768px) {
    .show-sm {
      display: none;
    }
  }


#app-main {
  height: 100%;
  width: 100%;
}

.root-container, .application {
  height: 100%;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.disabled {
  color: lightgray;
}

.fa-1-2x {
  font-size: 1.2rem;
}

.fa-1-5x {
  font-size: 1.5rem;
}

.waiting-screen { 
  height: 100%;  
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  margin: 0 0 1rem;
}

.text-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.text-button:hover {
  color: $crayola-orange;
}

@import 'component/_index';
@import 'library/_index';
