//@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: ArcherBook;
  src: local("ArcherBook"), url("file:///Users/ntilwalli/dev/most/candle/priv/static/fonts/archer-book/Archer-Book-Pro.otf")
}

// @font-face {
//   font-family: ArcherBook2;
//   src: local("ArcherBook"), url("/fonts/archer-book/Archer-Book-Pro.otf") format('opentype')
// }

html, body, #app-main, .root-container {
  height: 100%;
}

body {
  //font-family: 'Lato', serif;
  font-family: serif;
}

.page-home {
  display: flex;
  flex-flow: column;
  height: 100%;
}

nav {
  border-width: 0 0 1px 0;
  border-style: solid;
  height: 60px;
}

// nav::after {
//   content: "";
//   display: table;
//   clear: both;
// }

.restricted {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  font-family: ArcherBook, ArcherBook2, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 1rem;

}

.logo-large::before {
  content: 'tipjar'
}

.logo-small::before {
  content: 't'
}

.hidden-sm-down .search-box {
  width: 300px;
}
.hidden-md-up .search-box {
  flex: 1 1 auto;
}





.nav-inline {
  .nav-item-right {
    margin-right: 1.5rem;
  }

  .nav-item-right-small {
    margin-right: 1rem;
  }
}

.nav-inline {
  .login, .logout {
    margin-right: 1rem;
  }
}

.logged-in .item-logged-in,
.logged-out .item-logged-out {
  display: list-item;
}

.logged-in .item-logged-in,
.logged-out .item-logged-out {
  display: block;
}

.logged-in .item-logged-out,
.logged-out .item-logged-in,
.logged-in .nav-item-logged-out,
.logged-out .nav-item-logged-in {
  display: none
}

// .modal-backdrop, .modal {
//   display: none;
//
//   &.show {
//     display: flex;
//     align-items: center;
//   }
// }


.slideout-menu-header {}

.slideout-menu-body {
  display: table;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  line-height: 2;
}

.list-unstyled {
  padding: 0;
  list-style: none;
}

.flex-center, .enter, .modal-header, .modal-header-text, .modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100%;
}

.modal-header-text {
  justify-content: center;
  flex: 1 1 auto;
  color: #999;
}

.modal-close {
  flex: 0 0 auto;
  color: #999;
  font-size: 2rem;
}

// .modal {
//   z-index: 1039;
// }

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
}

.signup-or-separator--text {
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  margin: 0;
}

.signup-or-separator hr {
    margin: -14px auto 10px;
    width: 100%;
}

h6, .h6 {
    font-size: 14px;
    font-weight: bold;
    color: #82888a;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    text-rendering: optimizelegibility;
}

hr {
  height: 0;
}

.checkbox, .radio {
  padding-left: 1.25rem;
}

.remember-me::after,
.dont-have-account-area::after  {
  content: "";
  display: table;
  clear: both;
}

.switch-auth-type-area {
  display: flex;
  align-items: center;

  .question {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .answer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
  }
}

.alerts-area {
  display: none;

  &.show {
    display: block;
  }
}

li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

li a:hover {
  text-decoration: none;
  cursor: pointer;
  color:  gray;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.logo {
  background-color: white;
  border: none;
}

button.menu-link {
  padding: 0;
  border: 0;
  background-color: transparent;
}

button.logo:active, button.logo:focus, button.menu-link:active, button.menu-link:focus {
  outline: none;
}

button.menu-link:hover {
  color: gray;
}

button {
  &.link {
    text-decoration:none;
    color: blue;
    border: 0;
    background-color: transparent
  }

  &.link:hover {
    text-decoration: underline;

  }


}



// .account-type::first-child {
//   margin-right: .25rem;
// }

.account-type::before  {
  content: 'Account type: ';
  margin-right: 0.5rem;
}

.presignup-encouragement {
  text-align: center;
}

.input-error {
  color: red;
  font-size: .9rem;
}

.external-link {
  padding: 0;
  outline: 0;
  border: none;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.external-link:focus, .external-link:active {
  outline: 0 !important;
  border: none !important;
}

.create-new-item-button {
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.logo-home-link {
  color: black;

}

.hidden-sm-down .nav-menu-items-right {
  flex: 1 1 auto;
}

.nav-menu-items-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



//@import 'actions';
@import 'autocomplete';
@import 'radios';
@import 'spinner';
@import 'dateTimeInput';
@import 'modalComponent';
@import 'menuComponent';
@import 'heading';
@import 'userLocationMap';
@import 'create';
@import 'basicSpinner';
