@font-face {
  font-family: Corona4Typewriter;
  src: local("Corona4Typewriter"), url("/fonts/corona4typewriter.ttf") format("truetype"); }
@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local("Fixedsys Excelsior 3.01"), url("/fonts/FSEX300.woff") format("woff"); }
@font-face {
  font-family: 'Akkurat Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Akkurat Regular"), url("/fonts/Akkurat Regular.otf") format("opentype"); }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  font-family: 'Fixedsys Excelsior 3.01'; }

button, input {
  font-family: 'Fixedsys Excelsior 3.01'; }

#app-main {
  height: 100%;
  width: 100%; }

.no-scroll {
  overflow: hidden; }

.disabled {
  color: lightgray; }

.fa-1-2x {
  font-size: 1.2rem; }

.fa-1-5x {
  font-size: 1.5rem; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-group {
  width: 100%;
  margin: 0 0 1rem; }

.one-day-calendar {
  height: 100%;
  width: 100%; }
  .one-day-calendar .retrieving-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .one-day-calendar .retrieving-panel .loader-container {
      display: flex; }
  .one-day-calendar .controller {
    position: fixed;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .one-day-calendar .controller .section {
      display: flex;
      align-items: center; }
    .one-day-calendar .controller button {
      border: none;
      background-color: transparent; }
    .one-day-calendar .controller button:focus {
      outline: none; }
    .one-day-calendar .controller .menu-button {
      padding-left: .5rem;
      padding-right: .75rem; }
    .one-day-calendar .controller .menu-button:hover {
      color: orange; }
    .one-day-calendar .controller .date-controller {
      position: relative;
      top: -.1rem;
      display: flex; }
      .one-day-calendar .controller .date-controller .date-display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem; }
      .one-day-calendar .controller .date-controller .past {
        font-style: italic;
        color: gray; }
      .one-day-calendar .controller .date-controller .add-day:hover {
        color: orange; }
      .one-day-calendar .controller .date-controller .subtract-day:hover {
        color: orange; }
    .one-day-calendar .controller .show-filters {
      padding-left: .7rem; }
    .one-day-calendar .controller .show-filters:hover {
      color: orange; }
    .one-day-calendar .controller .auth-button:hover {
      color: orange; }
  .one-day-calendar .one-day-grid {
    padding-top: 2rem;
    width: 100%; }
    .one-day-calendar .one-day-grid .result {
      display: flex;
      flex-wrap: wrap;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: black; }
      .one-day-calendar .one-day-grid .result .left, .one-day-calendar .one-day-grid .result .right {
        width: 50%;
        display: flex;
        flex-direction: column; }
    .one-day-calendar .one-day-grid .result-cost, .one-day-calendar .one-day-grid .result-status, .one-day-calendar .one-day-grid .result-stage-time,
    .one-day-calendar .one-day-grid .result-sign-up-begins, .one-day-calendar .one-day-grid .result-sign-up-methods,
    .one-day-calendar .one-day-grid .result-performer-limit {
      display: flex;
      justify-content: flex-end; }
    .one-day-calendar .one-day-grid .result:hover {
      background-color: lightgray; }
    .one-day-calendar .one-day-grid .round-one::before {
      content: "Round 1:"; }
    .one-day-calendar .one-day-grid .round-two::before {
      content: "Round 2:"; }
    .one-day-calendar .one-day-grid .time {
      margin-left: 0.5rem; }
    .one-day-calendar .one-day-grid .begins::before {
      content: "Begins:"; }
    .one-day-calendar .one-day-grid .began::before {
      content: "Began:"; }
    .one-day-calendar .one-day-grid .ends::before {
      content: "Ends:"; }
    .one-day-calendar .one-day-grid .ended::before {
      content: "Ended:"; }
    .one-day-calendar .one-day-grid .past {
      color: gray;
      font-style: italic; }
    .one-day-calendar .one-day-grid .recent-past {
      color: #A00000;
      font-style: italic; }
    .one-day-calendar .one-day-grid .near-future {
      color: orange; }
    .one-day-calendar .one-day-grid .in-progress {
      color: green; }
  .one-day-calendar .filters-dialog .switch-section {
    padding-bottom: 1rem; }
    .one-day-calendar .filters-dialog .switch-section .choice-row {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      margin-bottom: .5rem; }
    .one-day-calendar .filters-dialog .switch-section .title {
      margin-left: .5rem;
      margin-right: 2rem; }
    .one-day-calendar .filters-dialog .switch-section .content {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      margin: .5rem 2rem; }
  .one-day-calendar .filters-dialog .stage-time-input {
    width: 1.5rem;
    margin-right: 1rem; }

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before {
  width: 50%;
  height: 50%;
  background: #525252;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ''; }

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.modal-component {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000; }
  .modal-component .modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    .modal-component .modal-dialog {
      height: 100%;
      width: 100%;
      background-color: white; } }
  @media (min-width: 768px) {
    .modal-component .modal-dialog {
      display: flex;
      width: 25rem;
      background-color: white; } }
  .modal-component .modal-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-color: lightgray;
    border-style: solid;
    border-width: 0 0 1px; }
    .modal-component .modal-header .modal-title {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      height: 2.5rem; }
    .modal-component .modal-header .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 .5rem; }
    .modal-component .modal-header .close:hover {
      color: lightgray;
      cursor: default; }
  .modal-component .modal-body {
    margin: 1rem; }
  .modal-component .modal-footer {
    display: flex;
    justify-content: center; }
  .modal-component .modal-content {
    width: 100%;
    height: 100%; }
  .modal-component .left-menu-modal {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20rem;
    background-color: white; }
  .modal-component .left-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: lightgray;
    color: black; }
  .modal-component .left-menu-body .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: black; }
  .modal-component .left-menu-body .item:hover {
    color: orange; }

.alerts-area {
  color: red; }

.external-auth-button, .internal-auth-button {
  height: 2rem;
  width: 100%; }

.signup-or-separator {
  background: none;
  text-align: center; }

.signup-or-separator--text {
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  margin: 0; }

.signup-or-separator hr {
  margin: -14px auto 10px;
  width: 100%; }

.facebook-button {
  color: #3b5998;
  background-color: white; }

.facebook-button:hover {
  background-color: #3b5998;
  color: white; }

.switch-auth-type-area {
  display: flex; }

.login-button, .sign-up-button {
  background-color: white;
  color: #FF7538; }
  .login-button.disabled, .sign-up-button.disabled {
    color: lightgray;
    border-color: lightgray; }

.login-button:hover, .sign-up-button:hover {
  color: white;
  background-color: #FF7538; }
  .login-button:hover.disabled, .sign-up-button:hover.disabled {
    background-color: white;
    color: lightgray;
    border-color: lightgray; }

.go-to-signup-link, .go-to-login-link {
  border: none;
  background-color: transparent;
  color: #0000EE;
  margin-left: .5rem; }

.go-to-signup-link:hover, .go-to-login-link:hover {
  text-decoration: underline; }

.switch-auth-type-area {
  display: flex;
  align-items: center;
  margin-top: 1rem; }

.auth-input {
  width: 100%;
  height: 2rem;
  padding: .5rem; }

/*# sourceMappingURL=base.css.map */
