@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '_variables';

.hopscotch-icon {
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 0;
  width: 2rem;
  line-height: 28px;
  font-size: 1.5rem;
  text-decoration: none;

  &::before {
    position: relative;
    top: -1px;
    content: 's'
  }

  &:visited {
    color: black;
    border-color: black;
    text-decoration: none;
  }


  &:hover {
    text-decoration: none;
    color: $crayola-orange;
    border-color: $crayola-orange;
  }

  &:active {
    text-decoration: none;
    color: black;
    border-color: black;
  }

  &:link {
    text-decoration: none;
    color: black;
    border-color: black;
  }

}

.fw-lighter {
  font-weight: lighter;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-bold {
  font-weight: bold
}

pre {
  white-space: normal;
}

address {
  margin-top: $spacer-y * .5;
  margin-bottom: 0;//$spacer-y * .5;
}

.navbar {
  //z-index: 1;
  //line-height: 2rem;
  .nav-text-button {
    &.fa-angle-left, &.fa-angle-right {
      font-size: 1.5rem;
    }

    &.fa-bars {
      height: 2rem;
      font-size: 1.2rem; 
    }

    &.fa-cog, &.fa-user-o, &.fa-calendar {
      //position: relative;
      //top: 2px;
      font-size: 1.2rem
    }
  }
  
  .row {
    height: 2rem;
  }
}

.btn {
  &.btn-link {
    margin: 0;
    padding: 0;
    color: black
  }

  &.btn-link:hover {
    color: $crayola-orange;
    text-decoration: none;
  }

  &.btn-link:focus, &.btn-link:active {
    outline: none;
  }
}

.btn {
  &.btn-link-underline {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: $crayola-orange
  }

  &.btn-link-underline:hover {
    text-decoration: underline;
  }

  &.btn-link-underline:focus, &.btn-link:active {
    outline: none;
  }
}


.container, .container-fluid {
  &.no-gutter {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &.gutter-8 {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.row {
  &.no-gutter{
    margin-right: 0;
    margin-left: 0;
  }
  
  &.no-gutter > [class^="col-"], &.no-gutter > [class^=" col-"] {
    padding-right: 0;
    padding-left: 0;
  } 

  &.gutter-8 {
    margin-right: -8px;
    margin-left: -8px;
  }

  &.gutter-8 > [class^="col-"], &.gutter-8 > [class^=" col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.list-group-item {
  border-right-width: 0;
  border-left-width: 0;
  &.no-padding {
    padding: 0;
  }

  &.xs-padding {
    padding: .25rem;
  }

  &.sm-padding {
    padding: .25rem .5rem;
  }

  &.last-child {
    border-radius: 0;
  }
}

.mr-xs {
  margin-right: $spacer-x * .5;
}

.ml-xs {
  margin-left: $spacer-x * .5;
}

.mt-xs {
  margin-top: $spacer-y * .5;
}

.mb-xs {
  margin-bottom: $spacer-y * .5;
}

.pr-xs {
  padding-right: $spacer-x * .5;
}

.pl-xs {
  padding-left: $spacer-x * .5;
}

.pt-xs {
  padding-top: $spacer-y * .5;
}

.pb-xs {
  padding-bottom: $spacer-y * .5;
}

.pl-indent {
  padding-left: 30px;
}

.pt-25 {
  padding-top: .25rem !important;
}

.h-2 {
  height: 2rem;
}

.mw-2 {
  min-width: 2rem;
}

.py-xs {
  padding-bottom: $spacer-y * .5 !important;
  padding-top: $spacer-y * .5 !important;
}

.lh-2 {
  line-height: 2;
}

.fs-1 {
  font-size: 1rem;
}

.flex-column {
  flex-direction: column;
}
.fx-a-c {
  align-items: center
}

.fx-j-c {
  justify-content: center;
}

.fx-j-e {
  justify-content: flex-end;
}

.fx-j-sb {
  justify-content: space-between;
}

.fx-j-sa {
  justify-content: space-around;
}

.fx-wrap {
  flex-wrap: wrap;
}

.d-fx-a-c {
  display: flex;
  align-items: center;
}

.pos-relative {
  position: relative;
}

.ws-wrap {
  white-space: initial;
}

.disabled {
  opacity: .25;
  pointer-events: none;
}

.light-disabled, .read-only {
  opacity: .5;
  pointer-events: none;
}


// .modal {
//   vertical-align: middle;
//   // width: 100%;
//   // height: 100%;
// }

.modal-dialog {
  //display: table;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .modal-dialog {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    max-width: none;
  }

  .modal-content {
    border-radius: none;
    border: none;
  }

}


.dropdown-item {
  padding-left: .75rem;
  padding-right: .75rem;
  white-space: initial;
}

.dropdown-item.highlight {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
}

// .form-control:focus {
//   border-color: $crayola-orange;
// }

.btn-outline-crayola-orange { 
  color: $crayola-orange;
  border-color: $crayola-orange;
  background-color: white;
}

.btn-outline-crayola-orange:hover {
  color: white;
  background-color: $crayola-orange;
}

.v-align-initial {
  vertical-align: initial;
}

.wrap-link {
  white-space: normal;
  text-align: left;
}

.hover-bg-verylightgray:hover {
  background-color: #EEEEEE;
}

.bg-crayola-orange {
  background-color: $crayola-orange;
}

.bg-crayola-orange-transparent {
  background-color: $crayola-orange-transparent;
}

.cursor-pointer {
  cursor: pointer;
}

button.close:focus {
  outline: none;
}

button.close::after {
  content: '×';
}

span.close:focus {
  outline: none;
}

span.close::after {
  content: '×';
}

.bg-color-crayola {
  background-color: $crayola-orange
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-left: 5px solid black;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}


.btn.btn-link:hover {
  .arrow-down {
    border-top-color: $crayola-orange;
  }

  .arrow-right {
    border-left-color: $crayola-orange;
  }

}

.translate-down-listing {
  transform: translateY(6rem)
}

.blue {
  color: blue;
}

.red {
  color: red;
}

@font-face {
  font-family: Corona4Typewriter;
  src: local("Corona4Typewriter"), url("/fonts/corona4typewriter.ttf") format('truetype')
}

@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  font-style: normal;
  font-weight: normal;
  src: local('Fixedsys Excelsior 3.01'), url('/fonts/FSEX300.woff') format('woff');
}

@font-face {
  font-family: 'Akkurat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akkurat Regular'), url('/fonts/Akkurat Regular.otf') format('opentype');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //font-size: .9rem;
  //font-family: 'Fixedsys Excelsior 3.01';//'Akkurat Regular';//"Corona4Typewriter";
}

/*.fa {
  font-size: 1rem;
}*/

/*button, input {
  font-family: 'Fixedsys Excelsior 3.01';
}*/

  @media (max-width: 767px) {
    .show-lg {
      display: none
    }
  }

  @media (min-width: 768px) {
    .show-sm {
      display: none;
    }
  }


#app-main {
  height: 100%;
  width: 100%;
}

.root-container, .application {
  height: 100%;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none
}

// .disabled {
//   color: lightgray;
// }

.fa-1-2x {
  font-size: 1.2rem;
}

.fa-1-5x {
  font-size: 1.5rem;
}

.waiting-screen { 
  height: 100%;  
  width: 100%;
}

.form-group {
  width: 100%;
  margin: 0 0 1rem;
}

.text-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-button:hover {
  color: $crayola-orange;
}

.text-button:focus {
  outline: none;
}

.clear-button {
  color: black;
  background-color: transparent;
  border: none; 
  padding: .2rem;
  font-size: 1.5rem;
}

.clear-button:focus {
  outline: none;
}

.clear-button::after {
  content: '×';
}

.clear-button:hover {
  color: lightgray;
}

.small-margin-top {
  margin-top: .2rem;
}

.bold {
  font-weight: bold;
}

@import 'component/_index';
@import 'library/_index';
@import './navigator';
@import './contentSection';
@import './profile';
@import './create';

